.footer__content-box {
  display: flex;
}
.container__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(57, 61, 63, 0.9);
}
.footer__contact-logo {
  color: white;
  font-size: 32px;
  margin-top: 80px;
}
.footer__copyrigh {
  font-size: 18px;
  color: white;
  font-family: OpenSans;
  font-size: 18px;
  margin-bottom: 32px;
}
.f_i_c {
  height: 20px;
  width: 20px;
  margin-top: 3px;
}
.f_i_c_mail {
  height: 15px;
  width: 20px;
  margin-top: calc(3px + 2px);
}
.footer__box {
  min-width: 251px;
  display: flex;
  flex-direction: column;
  color: white;
  margin-right: 85px;
  margin-top: 80px;
  &:last-child {
    margin-right: 0;
  }
}
.footer__info {
  margin: 10px 5px;
  display: flex;
}
.footer__span {
  margin-left: 7px;
  color: white;
}
#footer {
  width: 308px;
  margin: 5px 20px 0 0;
}
.footer__button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-style: none;
  background-image: url(/CSS/img/galochka.png);
  background-size: cover;
  background-color: rgba(57, 61, 63, 0.9);
}
.footer__back-call {
  font-size: 26px;
}
