html,
body {
  height: 100%;
}
body {
  font-size: $BaseFontSize;
  line-height: 1.42;
  position: relative;
}
.wrapper {
  position: relative;
  width: 100%;
  min-width: $contWidth + 20px;
  min-height: 100vh;
}
.containter {
  width: $contWidth;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}
p {
  font-family: "Open Sans";
  font-weight: normal;
}
a {
  font-family: "Comfortaa";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: bold;
  font-family: "comfortaa";
}
img {
  display: block;
  max-width: 100%;
}
